@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #000000;
    --global-bg-2: #cccccc;
    --global-bg-3: #d9d9d9;
    --global-bg-4: #fafafa;
    --global-bg-5: #ffffff;
    --global-text-1: #000000;
    --global-text-2: #18181b;
    --global-text-3: #52525b;
    --global-text-4: #171a1f;

    /* Header Colors */
    --header-text-1: #171a1f;

    /* Button Colors */
    --button-text-1: #ffffff;
  }
}

@layer utilities {
  /* Global */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .bg-global-4 {
    background-color: var(--global-bg-4);
  }
  .bg-global-5 {
    background-color: var(--global-bg-5);
  }
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
  .text-global-4 {
    color: var(--global-text-4);
  }

  /* Header */
  .text-header-1 {
    color: var(--header-text-1);
  }

  /* Button */
  .text-button-1 {
    color: var(--button-text-1);
  }
}